@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<div class="container">
<h1>Clients</h1>
<br>
<h2>
@if (@Model.Count == 0)
  {
    <h3>No Clients entered yet!</h3>
  }

<ul>
    @foreach (Client client in @Client.GetAll())
    {
    <li><a href="/stylists/@Stylist.Find(@client.GetStylistId()).GetId()/clients/@client.GetId()">@client.GetName()</a> <a href="/clients/@client.GetId()/Edit">Edit</a></li>
    }
</ul>
<br>
<br>

<p><a href="/">Back Home</a></p></h2>
</div>
