@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<div class="container">
<h1>Client Details:</h1>

<h2><ul>
  <p>Name:</p>
  <li>@Model.GetName()</li>
  <br>
  <p>About:</p>
  <li>@Model.GetAbout()</li>
  </ul>
  <br>
  <br>
<p><a href="/">Back Home</a></p></h2>
</div>
