@{
    Layout = "_Layout";
}

<div class="container">
<h1>Welcome To The Glam Jam</h1>
<br>
<h3><a href='/stylists'>Click here to view all stylists</a></h3>
<br>
<h3><a href='/stylists/new'>Click here to add stylist</a></h3>
<br>
<h3><a href='/clients'>Click here to view all clients</a></h3>
</div>
