@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<div class="container">
<h1>Stylists</h1>
<br>

@if (@Model.Count == 0)
  {
    <h2>No Stylists entered yet!</h2>
  }

<ul>
    @foreach (Stylist stylist in @Model)
    {
      <h2><li><a href="/stylists/@stylist.GetId()">@stylist.GetName()</a></li></h2>
    }
</ul>
<br>
<br>

<h3><a href="/">Back Home</a></p></h3>
</div>
