@using HairSalon.Models;

<div class="container">
<h1>Stylists</h1>
<br>
<ul>
    @foreach (Stylist stylist in @Model)
    {
        <li><a href="/stylists/@stylist.GetName()">@stylist.GetName()</a></li>
    }
</ul>

</div>
