@{
  Layout = "_Layout";
}

<h1>Add A New Stylist<h1>

<form action="/stylists" method="post">
  <label for="stylistName">Stylist Name</label>
  <input id="stylistName" name="stylistName" type="text"><br>
  <label for="stylistAbout">Stylist About</label>
  <input id="stylistAbout" name="stylistAbout" type="text">
  <button type="submit">Add</button>
</form>
<br>
<br>
<p><a href="/">Back Home</a></p>
