@using HairSalon.Models;

@{
  Layout = "_Layout";
}


<h2>@Model.GetName()</h2>
<h2>@Model.GetAbout()</h2>

// <h3>Details:</h3>
// <br>
// <ul>
//   <li>name</li>
//   <br>
//   <li>about</li>
// </ul>
// <ul>
//   <li>@Model.GetName()</li>
//   <li>@Model.GetAbout()</li>
<br>
<br>
<p><a href="/">Back Home</a></p>
